.sidebar a {
	display: block;
	color: var(--black-primary);
	padding: 16px;
	text-decoration: none;
	text-align: start;
}

.sidebar a.active {
	background-color: #131230;
	color: var(--white-primary);
	cursor: pointer;
}

.sidebar a:hover:not(.active) {
	background-color: #555;
	color: var(--white-primary);
	cursor: pointer;
}
